
@{
    ViewData["Title"] = "Index3";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <html>
    <head>
        <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    </head>
    <body>
        @RenderBody()
        <script src="~/js/mvc-grid/mvc-grid.js"></script>
    </body>
    </html>

