<link href="~/css/FStyle.css" rel="stylesheet" />
<!--Carousel-->
<style>
    .d-block1{
            opacity: 1;
            transform: rotate(-45deg);
          }
          
          .directionfo{
            opacity: 1;
            background-color: #B0B435;
            margin-top: 14vw;
            border-radius: 50%;
            color: white;
            width: 40px;
            height: 40px;
          }
          .directionfo:hover{
            background-color: #010101;
          }
</style>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner bg-light" style=" padding-top: 50px; padding-bottom: 50px;">

        <div class="carousel-item active">
            <!--Mask color-->
            <div class="view row">
                
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-01.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-02.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-03.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-04.jpg" alt="Second slide">
            </div>
        </div>

        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-02.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-03.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-04.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-05.jpg" alt="Second slide">
            </div>
        </div>

        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-03.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-04.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-05.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-06.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-04.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-05.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-06.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-07.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-05.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-06.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-07.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-08.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-06.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-07.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-08.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-09.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-07.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-08.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-09.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-01.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-08.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-09.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-01.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-02.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view row">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-09.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-01.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-02.jpg" alt="Second slide">
                <img class="d-block d-block1 w-100 col-3 col-lg-3" src="~/images/instagram-img-03.jpg" alt="Second slide">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev directionfo" href="#carouselExampleFade" role="button" data-slide="prev">
        <i class="fas fa-arrow-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next directionfo" href="#carouselExampleFade" role="button" data-slide="next">
        <i class="fas fa-arrow-right"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
    <!--Footer-->
    <footer class="container-fluid">
        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 20px;">
                    <h4>Business Time</h4>
                    <hr style="width: 50%; margin-top: -5px; float: left; height: 1px;  background-color: #B0B435;">
                    <div style="clear: both;"></div>
                    <span>Monday - Friday: 08.00am to 05.00pm</span><br>
                    <Span>Saturday: 10.00am to 08.00pm</Span><br>
                    <span>Sunday: <span>Closed</span></span><br>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 20px;">
                    <h4>Newsletter</h4>
                    <hr style="width: 50%; margin-top: -5px; float: left; height: 1px;  background-color: #B0B435;">
                    <div style="clear: both;"></div>
                    <form class="form">
                        <div class="form-group" style="position: relative;">
                            <input class="form-control i" type="email" name="Email" placeholder="Email Address*" />
                            <i class="fa fa-envelope i" style="position: absolute; font-size: 1.3rem; right: 10px; top: 10px; color: gray;"></i>
                        </div>
                        <button class="btn submitEmailfooter" type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 20px;">
                    <h4>Social Media</h4>
                    <hr style="width: 50%; margin-top: -5px; float: left; height: 1px;  background-color: #B0B435;">
                    <div style="clear: both;"></div>
                    <p style="font-size: .8rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <span class="socialIcon"><a href="#" class="a"><i class="fab fa-facebook i" aria-hidden="true"></i></a></span>
                    <span class="socialIcon"><a href="#" class="a"><i class="fab fa-twitter i" aria-hidden="true"></i></a></span>
                    <span class="socialIcon"><a href="#" class="a"><i class="fab fa-linkedin i" aria-hidden="true"></i></a></span>
                    <span class="socialIcon"><a href="#" class="a"><i class="fab fa-google-plus i" aria-hidden="true"></i></a></span>
                    <span class="socialIcon"><a href="#" class="a"><i class="fa fa-rss i" aria-hidden="true"></i></a></span>
                    <span class="socialIcon"><a href="#" class="a"><i class="fab fa-pinterest-p i" aria-hidden="true"></i></a></span>
                    <span class="socialIcon"><a href="#" class="a"><i class="fab fa-whatsapp i" aria-hidden="true"></i></a></span>
                </div>
            </div>
            <hr style="background-color: white;">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h5>About Freshshop</h5>
                    <hr style="margin-top: -5px; height: 1px;  background-color: #B0B435;">
                    <p style="font-size: .8rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p style="font-size: .8rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h5>Information</h5>
                    <hr style="margin-top: -5px; height: 1px;  background-color: #B0B435;">
                    <ul>
                        <li class="li"><a href="#" class="a">About Us</a></li>
                        <li class="li"><a href="#" class="a">Customer Service</a></li>
                        <li class="li"><a href="#" class="a">Our Sitemap</a></li>
                        <li class="li"><a href="#" class="a">Terms &amp; Conditions</a></li>
                        <li class="li"><a href="#" class="a">Privacy Policy</a></li>
                        <li class="li"><a href="#" class="a">Delivery Information</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h5>Contact Us</h5>
                    <hr style="margin-top: -5px; height: 1px;  background-color: #B0B435;">
                    <span style="font-size: .8rem;">
                        <i class="fas fa-map-marker-alt i"></i>
                        <span style="margin-left: 10px;">Address: Egypt</span>
                        <br>
                        <span style="margin-left: 25px;"> Street Oraby,</span>
                        <br>
                        <span style="margin-left: 25px;"> KS 67213 </span>
                    </span>
                    <br>
                    <span style="font-size: .8rem;">
                        <i class="fas fa-phone-square i"></i><p style=" display: inline; margin-left: 10px;">Phone: <a class="a" href="tel:+1-888705770">+201141133812</a></p>
                    </span>
                    <br>
                    <span style="font-size: .8rem;">
                        <i class="fas fa-envelope i"></i><p style=" display: inline; margin-left: 10px;">Email: <a class="a" href="mailto:ourteam@gmail.com">Ourteam@gmail.com</a></p>
                    </span>
                </div>
            </div>
        </div>
        <div class="container-fluid text-light" style=" text-align: center; background-color: #060606; padding: 25px; ">
            All Rights Reserved. &copy; 2020 <a class="a" href="#">ThewayShop</a> Design By :<a class="a" href="https://html.design/"> html design</a>
        </div>
    </footer>
