@model IEnumerable<Order>
@{
    ViewData["Title"] = "Orders";
}

<h1>GetOrderByLoggedInUser</h1>
<div class="container-fluid">
    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Order ID.</th>
                    <th>User ID.</th>
                    <th>Order Date.</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.ID</td>
                        <td>@order.UserID</td>
                        <td>@order.Date</td>
                        <td>@order.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
